html,body { 
	height: 100%; 
}

.global-container{
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #9ee2de;
}

form{
	padding-top: 10px;
	font-size: 14px;
	margin-top: 30px;
}

.card-title{ font-weight:300; }

.btn{
	font-size: 14px;
	margin-top:20px;
}


.login-form{ 
	width:450px;
	margin:20px;
	box-shadow: 0 6 10px 0 rgba(0,0,0,0.2);
	transition: 0.1s;
}


/* .alert{
	margin-bottom:-30px;
	font-size: 13px;
	margin-top:20px;
} */